* {
  box-sizing: border-box;
  font-family: "Arial", Georgia, serif;
}

h1 {
  height: 50px;
  font-family: fantasy;
  text-align: center;
}

.row {
  width: 100%;
}

.row_element {
  position: relative;
  float: left;
  margin: 10px;
  border: 2px solid rgb(36, 35, 37);
  height: 130px;
  background-color: rgb(62, 56, 52);
}

.section-title {
  margin: -2px;
  text-align: center;
  border: 2px solid rgb(36, 35, 37);
  width: 140px;
  height: 20px;
  position: absolute;
  right: 0px;
  text-transform: uppercase;
}

#p-one {
  background-color: rgb(237, 141, 27);
}

#p-two {
  background-color: rgb(73, 193, 127);
}

#p-three {
  background-color: rgb(81, 91, 212);
}

.section-description {
  margin: 7px;
  position: relative;
  top: 20px;
  color: rgb(229, 238, 232);
}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: calc(33.33% - 20px);
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: calc(50% - 20px);
  }
  .col-md-12 {
    width: calc(100% - 20px);
  }
}

/********** Mobile **********/
@media (max-width: 767px) {
  .col-sm-12 {
    width: calc(100% - 20px);
  }
}
